* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f0f2f5;
}

hr {
    width: 60%;
    border-top: 3px solid black;
}

.headsection {
    margin-top: 35px;
    margin-bottom: 35px;
}

.header {
    background: black;
}

#Biodata h1 {
    color: black;
}

.imagetest {
    object-fit: cover;
    width: 200px;
    height: 200px;
}



.skill {
    height: 200px;
    background: purple;
}

.project {
    height: 200px;
    background: red;
}

.contact {
    text-align: start;
    background: #494949;
    border: 1px solid black;
}

.box {
    padding: 40px;
    margin: 10px;
    margin-top: 0px;
    color: black;
}

.contact button {
    width: 20%;
}

.resultpesan {
    margin-top: 100px;
}

#skill h1,
#project h1 {
    margin-top: 50px;
    text-align: center;
}

#skill .col,
#project .col {
    display: flex;
    justify-content: center;
}